@font-face {
    font-family: "Cursed Timer ULiL";
    src: url("/CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    background-color: #1b244a;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.team {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}

h1 {
    font-family: "Cursed Timer ULiL";
    color: #f94f6d;
}

.score {
    display: flex;
    height: 120px;
    width: 155px;
    border-radius: 5px;
    background: #080001;
    align-items: center;
    justify-content: center;
}

.points {
    justify-content: space-between;
    display: flex;
    height: 45px;
    margin-top: 25px;
}

button {
    height: 40px;
    width: 40px;
    left: 337px;
    top: 271px;
    border: solid 1px #9aabd8;
    border-radius: 5px;
    border: 2px solid #9aabd8;
    background-color: #1b244a;
    color: #9aabd8;
    font-family: "Cursed Timer ULiL";
}

#reset {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    width: 80px;
    margin: 20px auto 20px;
    background-color: black;
    color: red;
    border: solid 2px red;
}

.reset-div {
    display: flex;
}

.word-box {
    color: #9aabd8;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
